body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Hide horizontal scrollbar caused by body margin */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ('') center center no-repeat;
    background-size: cover;
    cursor: pointer; /* Add cursor style to indicate it's clickable */
}

.message {
    font-size: 2em;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: floatAnimation 3s infinite alternate; /* Floating animation */
}

@keyframes floatAnimation {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}