body {
    margin: 0;
}

#floating-container {
    position: absolute;
}

.message {
    font-size: 2em;
    color: black;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
}